Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: S3
          buckets:
            - elasticbeanstalk-us-east-1-356622827828
          roleName:
            Fn::GetOptionSetting:
              Namespace: aws:autoscaling:launchconfiguration
              OptionName: IamInstanceProfile
              DefaultValue: aws-elasticbeanstalk-ec2-role
