files:
  "/etc/nginx/conf.d/https.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name api.zetaconfluence.speedballmag.com;

          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/private/server.key;

          ssl_session_timeout  5m;
          ssl_protocols TLSv1.2 TLSv1.3;
          ssl_prefer_server_ciphers on;

          location / {
              proxy_pass http://nodejs;
              proxy_http_version 1.1;
              proxy_set_header Connection "";
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto https;
          }
      }

  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Access"
    source: https://elasticbeanstalk-us-east-1-356622827828.s3.us-east-1.amazonaws.com/secrets/fullchain.pem

  "/etc/pki/tls/private/server.key":
    mode: "000600"
    owner: root
    group: root
    authentication: "S3Access"
    source: https://elasticbeanstalk-us-east-1-356622827828.s3.us-east-1.amazonaws.com/secrets/privkey.pem
