files:
  "/etc/pki/tls/certs/server.crt":
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Access"
    source: https://elasticbeanstalk-us-east-1-356622827828.s3.us-east-1.amazonaws.com/secrets/fullchain.pem

  "/etc/pki/tls/private/server.key":
    mode: "000600"
    owner: root
    group: root
    authentication: "S3Access"
    source: https://elasticbeanstalk-us-east-1-356622827828.s3.us-east-1.amazonaws.com/secrets/privkey.pem
