@import './tailwind.css';

@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 1vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ec1c24;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vh;
  height: 0;
}

body {
  width: 100%;
  height: 100%;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

el {
  width: calc(100% - 10px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
